<%- include('../partials/header.ejs') %>
<body class="bg-danger-subtle" style="font-family: 'Silkscreen'">
  <div class="d-flex justify-content-center align-items-center vh-100">
    <p class="fs-2"><%= message %></p>
  </div>
</body>
