<%- include('../partials/header.ejs') %>
<body class="bg-danger-subtle" style="font-family: 'Silkscreen'">
  <div class="container container d-flex flex-column align-items-center">
    <h1 class="fs-2"><%= title %></h1>
    <p class="fs-5"><%= message %></p>
    <div class="m-3">
      <a class="btn btn-danger btn-lg" href="/productos">Ir a Productos</a>
    </div>
  </div>
</body>
<%- include('../partials/footer.ejs') %>
