<!-- incluyo los archivos q lo componen -->

<%- include('head') %>


  <a class="btn btn-primary" href="<%= productsURL %>">Ver productos</a>
    

     
    </body>
    <%- include('footer') %>
  </div>
</html>