<!-- incluyo el archivo head -->
<%- include('head') %>

<!-- tabla de productos con Bootstrap -->
<div class="container" style="max-width: 500px;" >
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i=0; i<products.length; i++ ) { %>
                <tr>
                    <td><%= products[i].name %></td>
                    <td>$<%= products[i].price %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>

<!-- Boton para volver-->
<a href="/" class="btn btn-primary">Volver a la página principal</a>
