<!--Contenido de header-->
<!DOCTYPE html>
<html lang="es">
    <meta charset="utf-8">
    <title>Mi motor de plantillas EJS</title>
    <!--Icono-->
    <link rel="shortcut icon" href="(./assets/fruit.png)">
    <!--Fuente de la pagina-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css">
    <!--Bootstrap5-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Link de Estilos-->
    <link rel="stylesheet" href="style.css">
<body>