<footer style="background-color:burlywood;">
    <div class="footer" >
        <p style="display: flex; justify-content: center;margin: 0; padding: 2%;">Copyright 2024 - Camila</p>
    </div>
</footer>