<%- include('./partials/header')%>

<div class="container">
    <h1><%=title%></h1>
    <p><%=message%></p>
    
    <a href="/productos" class="button">ver productos</a>
</div>

<%- include('./partials/footer')%>