<%- include('head') %>
    <div class="container">
        <h1><%= title %></h1>
        <p><%= message %></p>
        <a class="button" href="/productos">ver productos</a>
    </div>
    <%- include('footer') %>
