<body style="margin: 0; padding: 0; background-color: antiquewhite;">
<%- include('./partials/header') %>
<div style="height: 100vh; " >
    <h1 style="text-align: center;"><%= title %></h1>
    <p style="text-align: center;"><%= message %></p>
    <a style="display: flex; justify-content: center;" class="button" href="/productos"> Ver Productos </a>
</div>
<%- include('./partials/footer') %>
</body>